<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Página de Alunos</title>
</head>

<body>
    <p th:each="item: ${itens}" th:text="${item.get(0)}"></p>

    <table class="table">
        <thead class="table-primary">
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Descrição</td>
                <td>Valor</td>
                <td></td>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr th:each="pizza: ${listaDePizzas}">
                <td th:text="${pizza.nome}"></td>
                <td th:text="${pizza.descricao}"></td>
                <td th:text="${pizza.valor}"></td>
                <td><a th:href="@{/selecionaProduto(id=${pizza.id})}">Selecionar</a></td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead class="table-primary">
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Descrição</td>
                <td>Valor</td>
                <td></td>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr th:each="bebida: ${listaDeBebidas}">
                <td th:text="${bebida.nome}"></td>
                <td th:text="${bebida.descricao}"></td>
                <td th:text="${bebida.valor}"></td>
                <td><a th:href="@{/selecionaProduto(id=${bebida.id})}">Selecionar</a></td>
            </tr>
        </tbody>
    </table>
</body>

</html>