<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Página de Alunos</title>
</head>

<body>
    <form th:action="@{/login}" method="post">
        <input type="email" name="email" id="email">
        <input type="password" name="senha" id="senha">
        <input type="submit" value="Enviar">
    </form>
    <form th:action="@{/signup}" method="post">
        registrar
        <input type="submit" value="Enviar">
    </form>
    <p th:text="${respostaLogin}"></p>
</body>

</html>