<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Página de Alunos</title>
</head>

<body>
    <form th:action="@{/login}" method="post">
        <input type="email" name="email" id="email">
        <input type="password" name="senha" id="senha">
        <input type="submit" value="Enviar">
    </form>
    <form th:action="@{/signup}" method="post" th:object="${cliente}">
        Email<input type="email" th:field="*{email}" name="email" id="email">
        CPF<input type="number" th:field="*{cpf}" name="cpf" id="cpf">
        Nome<input type="text" th:field="*{nome}" name="nome" id="nome">
        Endereço<input type="text" th:field="*{enderecoEntrega}" name="enderecoEntrega" id="enderecoEntrega">
        Telefone<input type="number" th:field="*{telefone}" name="telefone" id="telefone">
        Senha<input type="password" th:field="*{senha}" name="senha" id="senha">
        <input type="submit" value="Enviar">
    </form>

    <p th:text="${respostaLogin}"></p>
</body>

</html>