<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Produto</title>
</head>

<body onload="calcularValor()">
    <table>
        <tbody>
            <tr>
                <td th:text="${produto.nome}"></td>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/salvarItem}" method="post">
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <td>Id</td>
                    <td>Nome</td>
                    <td>Descrição</td>
                    <td>Valor</td>
                    <td>Quantidade</td>
                    <td>Tamanho</td>
                    <td>Valor final</td>
                    <td></td>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td><input type="text" name="id" id="id" th:value="${produto.id}"></td>
                    <td th:text="${produto.nome}"></td>
                    <td th:text="${produto.descricao}"></td>
                    <td id="valorUnitario" th:text="${produto.valor}"></td>
                    <td><input type="number" name="qtd" id="qtd"></td>
                    <td><select id="tamanho" name="tamanho">
                        <option value="8">8 pedaços (+10 reais)</option>
                        <option value="6">6 pedaços (+5 reais)</option>
                    </select></td>
                    <td><input type="text" name="valorTotalUnitario" id="valorTotalUnitario"></td>
                    <td><input type="submit" value="Adicionar"></td>
                </tr>
            </tbody>
        </table>
    </form>
    <script type="text/javascript" th:src="@{/script.js}"></script>
</body>

</html>